.container {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 30px;
    font-family: Garamond;
    font-weight: 700;
}

img {
    position: absolute;
    width: 200px;
    top: 60px;
    left: 30px;
}